@model X.PagedList.IPagedList<BehaviourManagementSystem_ViewModels.Requests.OptionsRequest>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles {
    <link href="~/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Giai Đoạn Phục Hồi</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Giai đoạn can thiệp</a></li>
                <li class="breadcrumb-item active">Giai đoạn nâng cấp Phục Hồi</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <button type="button" data-toggle="modal" data-target=".modal-CreateRecovery" class="btn btn-primary waves-effect waves-light">Thêm</button>
                @if (Model != null)
                {
                    <div class="table-rep-plugin">
                        <div class="table-responsive b-0" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table table-striped">
                                <thead class="text-center">
                                    <tr>
                                        <th>Số Thứ Tự</th>
                                        <th data-priority="1">Tên Giai Đoạn</th>
                                        <th data-priority="6">Tùy Chọn</th>

                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @foreach (var item in Model)
                                    {
                                        <tr id="Recovery-@item.Id">
                                            <td>@item.STT</td>
                                            <td>@item.Content</td>
                                            <td>

                                                <button type="button" data-toggle="modalEdit" data-url="@Url.Action($"Edit/{@item.Id}")" data-target=".modal-EditModerate" class="btn btn-warning waves-effect waves-light">Sửa</button>
                                                <button type="button" onclick=" deleteRecovery('@item.Id')" class="btn btn-danger waves-effect waves-light">Xóa</button>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <span class="show-page-text text-black">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            @Html.PagedListPager(Model,
                                    page => Url.Action("Index", new { page }),
                                    new PagedListRenderOptions
                                {
                                    DisplayLinkToIndividualPages = true,
                                    DisplayPageCountAndCurrentLocation = false,
                                    MaximumPageNumbersToDisplay = 3,
                                    LiElementClasses = new string[] { "page-item" },
                                        PageClasses = new string[] { "page-link" },
                                })
                        </div>

                    </div>
                }
                @if (Model == null)
                {
                    <p class="text-center">Không có dữ liệu</p>
                }
                <div class="modal modal-CreateRecovery" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0">Thêm Giai Đoạn Phục Hồi</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <form method="post" asp-action="Create" asp-controller="RecoveryIntervention" asp-area="Admin">
                                    <div class="form-group">
                                        <label>Tên Giai Đoạn</label>
                                        <input type="text" autocomplete="off" name="content" class="form-control" required placeholder="Điền Tên Giai Đoạn..." />
                                    </div>
                                    <div class="form-group text-center">
                                        <div>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                                Thêm
                                            </button>
                                            <button type="reset" data-dismiss="modal" class="btn btn-secondary waves-effect m-l-5">
                                                Hủy
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <div id="PlaceHolder"></div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
@section scripts {
    <script src="~/plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js"></script>
    <script src="~/plugins/sweet-alert2/sweetalert2.min.js"></script>
    @*<script src="~/js/sweet-alert.init.js"></script>*@
    <script>
        //Warning Message
        function deleteRecovery(id) {
            swal({
                title: 'Bạn đã chắc chắn xóa?',
                text: "",
                type: '',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger m-l-10',
                confirmButtonText: 'Có',
                cancelButtonText: "Không"
            }).then(function () {
                $.ajax({
                    url: "RecoveryIntervention/delete",
                    data: { "id": id },
                    type: "DELETE",
                    success: function (result) {
                        if (result.status == true) {
                                $("#Recovery-" + id).remove();
                        }
                    }
                })
            })
        }
        $(function () {
            var PlaceHolder = $('#PlaceHolder');
            $('button[data-toggle="modalEdit"]').click(function (event) {
                var url = $(this).data('url');
                var decodedUrl = decodeURIComponent(url);
                $.get(decodedUrl).done(function (data) {
                    PlaceHolder.html(data);
                    PlaceHolder.find('.modal-EditRecovery').modal('show');
                })
            })
        })
    </script>

}

