@model BehaviourManagementSystem_ViewModels.Requests.AssessmentRequest
@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Hồ sơ học sinh</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/StudentApp">Trang chủ</a></li>
                <li class="breadcrumb-item active">Học Sinh</li>
                <li class="breadcrumb-item active">Đánh Giá</li>
            </ul>
        </div>
    </div>
</div>
<!-- Đánh giá Start -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center text-info text-uppercase">Đánh Giá Hành Vi</h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active"
                           href="#tuongtrinh" data-toggle="tab">Tường trình</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#phantich" data-toggle="tab">Phân tích</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#chitiet" data-toggle="tab">Chi Tiết</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- Tab Tường Trình Start -->
                    <div class="tab-pane show active" id="tuongtrinh">
                        <form action="/StudentApp/Home/Index">
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Ngày</label>
                                <div class="col-md-10">
                                    @{
                                        DateTime d = Convert.ToDateTime(Model.RecordDate);
                                        string s = d.ToString("dd/MM/yyyy");
                                    }
                                    <input readonly type="date" value="@s" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Giờ Bắt Đầu</label>
                                <div class="col-md-10">
                                       <input readonly type="text" value="@Model.RecordStart" class="timepicker form-control" >       
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Giờ Kết Thúc</label>
                                <div class="col-md-10">
                                    <input readonly type="text"
                                           value="@Model.RecordEnd"
                                           class="form-control"
                                            />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Ở Đâu</label>
                                <div class="col-md-10">
                                    <input readonly type="text"
                                           value="@Model.RecordWhere"

                                           class="form-control"
                                           />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Học sinh vi phạm</label>
                                <div class="col-md-10">
                                    <input readonly type="text"
                                           value="@Model.RecordWho"
                                           class="form-control"
                                            />
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-sm-3 mx-auto text-center">
                                    <button type="submit" class="btn btn-danger btn-sm btn-block">Thoát</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Tab Tường Trình End -->
                    <!-- Tab phân tích Start-->
                    <div class="tab-pane" id="phantich">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       href="#pt-hanhvi" data-toggle="tab">Hành Vi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pt-tiende"
                                       data-toggle="tab">Tiền Đề</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pt-hauqua"
                                       data-toggle="tab">Hậu Quả</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- Tab Phân Tích - Hành Vi Start-->
                                <div class="tab-pane show active" id="pt-hanhvi">
                                    <form action="/StudentApp/Home/Index">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Hành vi</label>
                                            <div class="col-md-10">
                                                <input readonly type="text" value="@Model.AnalyzeBehaviour" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-danger btn-sm btn-block">Thoát</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Phân Tích - Hành Vi End-->
                                <!-- Tab Phân Tích - Tiền Đề Start-->
                                <div class="tab-pane" id="pt-tiende">
                                    <form action="/StudentApp/Home/Index">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Cảm Xúc</label>
                                            <div class="col-md-10">
                                                <input readonly type="text" id="camxuc" value="@Model.AnalyzeAntecedentPerceivedDescription" class="form-control"  />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Môi Trường</label>
                                            <div class="col-md-10">
                                                <input readonly type="text" id="moitruong" value="@Model.AnalyzeAntecedentEnvironmentalDescription" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Hành Động</label>
                                            <div class="col-md-10">
                                                <input readonly type="text" id="hanhdong" value="@Model.AnalyzeAntecedentActivityDescription" class="form-control" />
                                                
                                            </div>
                                        </div>

                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-danger btn-sm btn-block">Thoát</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Phân Tích - Tiền Đề End-->
                                <!-- Tab Phân Tích - Hậu Quả Start-->
                                <div class="tab-pane" id="pt-hauqua">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Cảm xúc trước</label>
                                                    <input readonly type="text" class="form-control" value="@Model.AnalyzeAntecedentPerceivedDescription">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Cảm xúc sau</label>
                                                    <input readonly type="text" class="form-control" value="@Model.AnalyzeConsequencesPerceive">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Môi truòng trước</label>
                                                    <input readonly type="text" class="form-control" value="@Model.AnalyzeAntecedentEnvironmentalDescription">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Môi trường sau</label>
                                                    <input readonly type="text" class="form-control" value="@Model.AnalyzeConsequenceEnvironmental">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Hành vi trước</label>
                                                    <input readonly type="text" class="form-control" value="@Model.AnalyzeAntecedentActivityDescription">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Hành vi sau</label>
                                                    <input readonly type="text" class="form-control" value="@Model.AnalyzeConsequencesActivity">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-danger btn-sm btn-block">Thoát</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Phân Tích - Hậu Quả End-->
                            </div>
                        </div>
                    </div>
                    <!-- Tab phân tích End-->
                    <!-- Tab Chi Tiết Start -->
                    <div class="tab-pane" id="chitiet">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       href="#ct-tiende" data-toggle="tab">Tiền Đề</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#ct-hauqua"
                                       data-toggle="tab">Hậu Quả</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- Tab Chi Tiết - Tiền Đề Start -->
                                <div class="tab-pane show active" id="ct-tiende">
                                    <form action="/StudentApp/Home/Index">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Cảm Xúc</label>
                                            <div class="col-md-9">
                                                <input readonly type="text" value="@Model.AnalyzeAntecedentPerceivedDescription" class="form-control"  />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Bối cảnh môi trường</label>
                                            <div class="col-md-9">
                                                <input readonly type="text" value="@Model.AnalyzeAntecedentEnvironmentalDescription" class="form-control"  />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Bối cảnh hành động</label>
                                            <div class="col-md-9">
                                                <input readonly type="text" value="@Model.AnalyzeAntecedentActivityDescription" class="form-control" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Chi tiết tiền đề</label>
                                            <div class="col-md-9">
                                                <input readonly type="text" value="@Model.FunctionAntecedent" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-danger btn-sm btn-block">Thoát</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Chi Tiết - Tiền Đề End -->
                                <!-- Tab Chi Tiết - Hậu Quả Start -->
                                <div class="tab-pane" id="ct-hauqua">
                                    <form action="/StudentApp/Home/Index">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Cảm Xúc</label>
                                            <div class="col-md-9">
                                                <input readonly type="text" value="@Model.AnalyzeConsequencesPerceive"  class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Bối cảnh môi trường</label>
                                            <div class="col-md-9">
                                                <input readonly type="text" value="@Model.AnalyzeConsequenceEnvironmental" class="form-control" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Bối cảnh hành động</label>
                                            <div class="col-md-9">
                                                <input readonly type="text" value="@Model.AnalyzeConsequencesActivity" class="form-control" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Chi tiết hậu quả</label>
                                            <div class="col-md-9">
                                                <input readonly type="text" value="@Model.FunctionConsequece" class="form-control"  />
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-danger btn-sm btn-block">Thoát</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Chi Tiết - Hậu Quả End -->
                            </div>
                        </div>
                    </div>
                    <!-- Tab Chi Tiết End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Đánh giá End -->

