@using BehaviourManagementSystem_ViewModels.Requests
@using System 
@model IndAssessRequest
@{
    ViewData["Title"] = "Thông tin học sinh";
    List<AssessmentRequest> assessmentRequests = ViewBag.ListAssessment;
    List<InterventionRequest> interventionRequests = ViewBag.ListIntervention;
    var img = Model.AvtName;
    Uri uriResult;
    bool result = Uri.TryCreate(Model.AvtName, UriKind.Absolute, out uriResult)
     && (uriResult.Scheme == Uri.UriSchemeHttp || uriResult.Scheme == Uri.UriSchemeHttps);
    if (result != true)
    {
        img = "/images/" + img;
    }
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Hồ sơ học sinh</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/StudentApp">Học sinh</a></li>
                <li class="breadcrumb-item active">Hồ sơ học sinh</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="about-info">
            <h4>Hồ sơ học sinh</h4>
            <div class="media mt-3">
                <img src="@img" class="mr-3" alt="...">
                <div class="media-body">
                    <ul>
                        <li>
                            <span class="title-span">Tên đầy đủ : </span>
                            <span class="info-span">@(Model.FirstName) @(Model.LastName)</span>
                        </li>
                        <li>
                            <span class="title-span">Địa chỉ : </span>
                            <span class="info-span">@(Model.Address)</span>
                        </li>
                        @*<li>
                            <span class="title-span">Số điện thoại : </span>
                            <span class="info-span">@(Model.PhoneNumber)</span>
                        </li>*@
                        <li>
                            <span class="title-span">Email : </span>
                            <span class="info-span">@(Model.Email)</span>
                        </li>
                        <li>
                            <span class="title-span">Giới tính : </span>
                            <span class="info-span">@(Model.Gender)</span>
                        </li>
                        <li>
                            <span class="title-span">Ngày sinh : </span>
                            @{
                                DateTime d = Convert.ToDateTime(Model.DOB);
                                string s = d.ToString("dd/MM/yyyy");
                            }
                            <span class="info-span">@s</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="row mt-3">
                <div class="col-md-12">
                    <p>Hello I am Daisy Parks. Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry, simply dummy text of the printing and
                        typesetting industry.</p>
                </div>
            </div>
            <div class="row follow-sec">
                <div class="col-md-4 mb-3">
                    <div class="blue-box">
                        <h3>2850</h3>
                        <p>Followers</p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="blue-box">
                        <h3>2050</h3>
                        <p>Following</p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="blue-box">
                        <h3>2950</h3>
                        <p>Friends</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row mt-2">
                <div class="col-md-12">
                    <h5>Permanent Address</h5>
                    <p>480, Estern Avenue, Courtage area, New York</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <h5>Present Address</h5>
                    <p>480, Estern Avenue, Courtage area, New York</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Đánh giá Start -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-solid">
                <li class="nav-item">
                    <a class="nav-link active" href="#solid-tab1"
                       data-toggle="tab">Đánh Giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#solid-tab2"
                       data-toggle="tab">Can Thiệp</a>
                </li>
            </ul>
            <hr>
            <div class="tab-content">
                <div class="tab-pane show active" id="solid-tab1">
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-center mb-0 datatable">
                                            <thead>
                                                <tr class="text-center">
                                                    <th class="">Ngày</th>
                                                    <th class="">Thời Gian</th>
                                                    <th>Tường Trình</th>
                                                    <th>Phân Tích</th>
                                                    <th>Chi Tiết</th>
                                                    <th class="">Tóm Tắt</th>
                                                    <th class="text-right">Tùy Chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @if (assessmentRequests == null)
                                            {
                                                <tr class="text-center">Hiện tại không có dữ liệu</tr>
                                            }
                                            else if (assessmentRequests != null)
                                            {
                                                @foreach (var item in assessmentRequests)
                                                {
                                            <tr class="text-center">
                                                @{
                                                    DateTime date = Convert.ToDateTime(item.RecordDate);
                                                    string formatdate = date.ToString("dd/MM/yyyy");
                                                }
                                                <td>@formatdate</td>
                                                <td>@item.RecordStart</td>
                                                <td>
                                                    <span class="badge @(item.RecordIsCompeleted == true ? "badge-success" : "badge-danger")">@(item.RecordIsCompeleted == true ? "Hoàn Thành" : "Chưa hoàn thành")</span>
                                                </td>
                                                <td>
                                                    <span class="badge @(item.AnalyzeIsCompeleted == true ? "badge-success" : "badge-danger")">@(item.AnalyzeIsCompeleted == true ? "Hoàn Thành" : "Chưa hoàn thành")</span>
                                                </td>
                                                <td>
                                                    <span class="badge @(item.FunctionIsCompeleted == true ? "badge-success" : "badge-danger")">@(item.FunctionIsCompeleted == true ? "Hoàn Thành" : "Chưa hoàn thành")</span>
                                                </td>
                                                <td>
                                                    @item.AnalyzeBehaviour
                                                </td>
                                                <td class="text-right">
                                                    <div class="actions">
                                                        <a href="/StudentApp/Home/Assessment/@item.Id"
                                                           class="btn btn-sm bg-success-light mr-2">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                                }
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="solid-tab2">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-center mb-0 datatable">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>Ngày</th>
                                                    <th>Hồ Sơ</th>
                                                    <th>Quản Lý</th>
                                                    <th>Ngăn Chặn</th>
                                                    <th class="text-right">Tùy Chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @if (interventionRequests == null)
                                            {
                                                <tr class="text-center">Hiện tại không có dữ liệu</tr>
                                            }
                                            else if (interventionRequests != null)
                                            {
                                                @foreach (var item in interventionRequests)
                                                {
                                                <tr class="text-center">
                                                    <td>@item.ProfileDate?.ToShortDateString()</td>
                                                    <td>
                                                        <span class="badge @(item.ProfileIsCompeleted == true ? "badge-success" : "badge-danger")">@(item.ProfileIsCompeleted == true ? "Hoàn Thành" : "Chưa hoàn thành")</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge @(item.ManageIsCompleted == true ? "badge-success" : "badge-danger")">@(item.ManageIsCompleted == true ? "Hoàn Thành" : "Chưa hoàn thành")</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge @(item.PreventIsCompleted == true ? "badge-success" : "badge-danger")">@(item.PreventIsCompleted == true ? "Hoàn Thành" : "Chưa hoàn thành")</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <div class="actions">
                                                            <a href="/StudentApp/Home/Intervention/@item.Id"
                                                               class="btn btn-sm bg-success-light mr-2">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                }
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Đánh giá End -->
