@using BehaviourManagementSystem_ViewModels.Requests; 
@model UserProfileRequest
@{
    ViewData["Title"] = "StudentProfile";
    //Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
@{
    ViewData["Title"] = "Thông tin người dùng";
    var img = Model.AvtName;
    Uri uriResult;
    bool result = Uri.TryCreate(Model.AvtName, UriKind.Absolute, out uriResult)
     && (uriResult.Scheme == Uri.UriSchemeHttp || uriResult.Scheme == Uri.UriSchemeHttps);
    if (result != true)
    {
        img = "/images/" + img;
    }
}

<div class="page-header">
    <div class="row">
        <div class="col">
            <h3 class="page-title">Hồ sơ học sinh</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/StudentApp">Trang chủ</a></li>
                <li class="breadcrumb-item active">Hồ sơ</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="profile-header">
            <div class="row align-items-center">
                <div class="col-auto profile-image">
                    <a href="/StudentApp" >
                        <div>
                            <img src="@img" alt="Ảnh đại diện" style="object-fit: cover; border-radius: 50%; height: 100px; width: 100px; ">
                        </div>
                    </a>
                </div>
                <div class="col ml-md-n2 profile-user-info">
                    <h4 class="user-name mb-0">@(Model.FirstName+" "+Model.LastName)</h4>
                    <h6 class="text-muted">Học sinh</h6>
                    <div class="user-Location"><i class="fas fa-map-marker-alt"></i> Địa Chỉ</div>
                    <div class="user-Location">@Model.Address</div>
                </div>
            </div>
        </div>
        <div class="profile-menu">
            <ul class="nav nav-tabs nav-tabs-solid">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#per_details_tab">Thông Tin</a>
                </li>
            </ul>
        </div>
        <div class="tab-content profile-tab-cont">
            <div class="tab-pane fade show active" id="per_details_tab">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <span class="">Thông Tin Cá Nhân</span>
                                </h5>
                                <div class="text-right">
                                    <a class="edit-link" href="~/StudentApp/Home/StudentProfileEdit/@Model.Id"><i class="far fa-edit mr-1"></i>Cập nhật</a>
                                </div>

                                <div class="row">
                                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3">Tên:</p>
                                    <p class="col-sm-8 text-sm-left">@(Model.FirstName+" "+Model.LastName)</p>
                                </div>
                                <div class="row">
                                    @{
                                        DateTime d = Convert.ToDateTime(@Model.DOB);
                                        string s = d.ToString("dd/MM/yyyy");
                                    }
                                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3">Ngày Sinh:</p>
                                    <p class="col-sm-8 text-sm-left"> @s</p>

                                </div>
                                <div class="row">
                                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3">Email:</p>
                                    <p class="col-sm-8 text-sm-left">@Model.Email</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3">SDT:</p>
                                    <p class="col-sm-8 text-sm-left">@Model.PhoneNumber</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-4 text-muted text-sm-right mb-0">Địa Chỉ:</p>
                                    <p class="col-sm-8 text-sm-left mb-0">
                                        @Model.Address
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

