@model dynamic
<div class="form-group row">
    <label class="col-form-label col-md-2">Cảm Xúc</label>
    <div class="col-md-10">
        <input name="AnalyzeAntecedentPerceivedDescription" type="text" id="camxuc" value="" class="form-control dropdown-toggle" data-toggle="dropdown" placeholder="Chọn hoặc viết vào đây..."/>
        <ul class="dropdown-menu " id="multiselect-drop-camxuc">
            @foreach (var item in Model.Perceived)
            {
                <li class="dropdown-item">
                    <div class="checkbox">
                        <label>
                            <input value="@item.Content" style="zoom: 1.2;" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                        </label>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-md-2">Môi Trường</label>
    <div class="col-md-10">
         <input name="AnalyzeAntecedentEnvironmentalDescription" type="text" id="moitruong" value="" class="form-control dropdown-toggle" data-toggle="dropdown" placeholder="Chọn hoặc viết vào đây..." />
        <ul class="dropdown-menu" id="multiselect-drop-moitruong">
            @foreach (var item in Model.Environmental)
            {
                <li class="dropdown-item">
                    <div class="checkbox">
                        <label>
                            <input value="@item.Content" style="zoom: 1.2;" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                        </label>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-md-2">Hành Động</label>
    <div class="col-md-10">
        <input name="AnalyzeAntecedentActivityDescription" type="text" id="hanhdong" value="" class="form-control dropdown-toggle" placeholder="Chọn hoặc viết vào đây..." />
        <ul class="dropdown-menu" id="multiselect-drop-hanhdong">
            @foreach (var item in Model.Activity)
            {
                <li class="dropdown-item">
                    <div class="checkbox">
                        <label>
                            <input value="@item.Content" style="zoom: 1.2;" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                        </label>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
