@using BehaviourManagementSystem_ViewModels.Requests
@model ResetPasswordRequest 
@{
    ViewData["Title"] = "StudentProfile";
    Layout = "~/StudentApp/Views/Shared/_LayoutStudent.cshtml";
    var userProfileRequest = ViewBag.userProfileRequest;
}
@{
    ViewData["Title"] = "Thông tin người dùng";
    var img = userProfileRequest.AvtName;
    Uri uriResult;
    bool result = Uri.TryCreate(userProfileRequest.AvtName, UriKind.Absolute, out uriResult)
     && (uriResult.Scheme == Uri.UriSchemeHttp || uriResult.Scheme == Uri.UriSchemeHttps);
    if (result != true)
    {
        img = "/images/" + img;
    }

}

<div class="page-header">
    <div class="row">
        <div class="col">
            <h3 class="page-title">Đổi mật khẩu</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Tài khoản</a></li>
                <li class="breadcrumb-item active">Đổi mật khẩu</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="profile-header">
            <div class="row align-items-center">
                <div class="col-auto profile-image">
                    <a href="#">
                        <img class="rounded-circle" alt="User Image" src="@img">
                    </a>
                </div>
                <div class="col ml-md-n2 profile-user-info">
                    <h4 class="user-name mb-0">@(userProfileRequest.FirstName+" "+ userProfileRequest.LastName)</h4>
                    <h6 class="text-muted">Giáo Viên</h6>
                    <div class="user-Location"><i class="fas fa-map-marker-alt"></i> Địa Chỉ</div>
                    <div class="user-Location">@userProfileRequest.Address</div>
                </div>
            </div>
        </div>
        <div class="profile-menu">
            <ul class="nav nav-tabs nav-tabs-solid">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#password_tab">Mật Khẩu</a>
                </li>
            </ul>
        </div>
        <div class="tab-content profile-tab-cont">
            <div id="password_tab" class="tab-pane fade show active">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Đổi mật khẩu</h5>
                        <div class="row">
                            <div class="col-md-10 col-lg-6 mx-auto">
                                <form asp-area="StudentApp" asp-controller="Account" asp-action="ChangePassword" method="post">
                                    @*@if (!ViewData.ModelState.IsValid)
                                    {
                                        <div id="ErrorLogin" class="alert alert-danger" role="alert">
                                            <strong>@ViewData.ModelState[String.Empty].Errors[0].ErrorMessage</strong>
                                        </div>
                                    }*@
                                    <input hidden asp-for="Id" type="text" value="@userProfileRequest.Id" class="form-control">
                                    <div class="form-group">
                                        <label>Mật khẩu cũ</label>
                                        <input required asp-for="PasswordOld" type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Mật khẩu Mới</label>
                                        <input required asp-for="PasswordNew" type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Xác nhận mật khẩu</label>
                                        <input required asp-for="PasswordConfirm" type="password" class="form-control">
                                    </div>
                                    <button class="btn btn-primary" type="submit">Lưu thay đổi</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

