<!DOCTYPE html>
@using System.Security.Claims
@using BehaviourManagementSystem_MVC.APIIntegration;
@using BehaviourManagementSystem_ViewModels.Requests;
@inject IUserAPIClient _userAPIClient;
@{ var user_id = User.FindFirst("Id").Value;
    var response = await _userAPIClient.GetUserById(user_id);
    UserProfileRequest userProfileRequest;
    userProfileRequest = response.Result;
    var img = userProfileRequest.AvtName;
    Uri uriResult;
    bool result = Uri.TryCreate(userProfileRequest.AvtName, UriKind.Absolute, out uriResult)
        && (uriResult.Scheme == Uri.UriSchemeHttp || uriResult.Scheme == Uri.UriSchemeHttps);
    if (result != true)
    {
        img = "/images/" + img;
    }
}
<html lang="en">
<!-- Mirrored from preschool.dreamguystech.com/html-template/students.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:11:43 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Preskool - Students</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/plugins/simple-calendar/simple-calendar.css">
    <link href="~/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a asp-controller="Home" asp-action="Index" class="logo">
                    <img src="~/assets/img/logo.png" alt="Logo">
                </a>
                <a asp-controller="Home" asp-action="Index" class="logo logo-small">
                    <img src="~/assets/img/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-align-left"></i>
            </a>
            @*<div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>*@
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="@img" width="31" alt="@userProfileRequest.LastName @userProfileRequest.FirstName"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="@img" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>@userProfileRequest.FirstName @userProfileRequest.LastName</h6>
                                <p class="text-muted mb-0">Giáo viên</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/Teacher/TeacherProfile">Hồ sơ</a>
                        <a class="dropdown-item" href="/Teacher/ChangePassword">Đổi mật khẩu</a>

                        <a class="dropdown-item" href="/Account/Logout">Đăng xuất</a>

                    </div>
                </li>
            </ul>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Menu chính</span>
                        </li>

                        <li class="submenu" id="menu-student">
                            <a href="#"><i class="fas fa-user-graduate"></i> <span> Học Sinh</span> <span class="menu-arrow"></span></a>
                            <ul class="stMenu">
                                <li><a asp-controller="Student" asp-action="StudentList" class="submenu-stList">Danh sách học sinh</a></li>
                                <li><a asp-controller="Student" asp-action="StudentAssessment" class="submenu-stList">Danh sách học sinh mắc lỗi</a></li>
                                <li><a asp-controller="Student" asp-action="StudentAdd" class="submenu-stAdd">Thêm Học Sinh</a></li>
                            </ul>
                        </li>
                        <li class="submenu" id="menu-teacher">
                            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Giáo Viên</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/Teacher/TeacherProfile">Hồ sơ</a></li>
                                @*<li><a href="/Student/TeacherProfileEdit">Teacher Edit</a></li>*@
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-shield-alt"></i> <span> Tài khoản </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/Account/Login">Đăng nhập</a></li>
                                <li><a href="/Home/Register">Đăng kí</a></li>
                                <li><a href="/Teacher/ChangePassword">Thay đổi mật khẩu</a></li>
                                @*<li><a href="error-404.html">Error Page</a></li>*@
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content container-fluid">
                @RenderBody()
            </div>
            <footer>
            </footer>
        </div>
    </div>
    @if (TempData["MessageCreate"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal(
                    '@TempData["MessageCreate"]',
                     '',
                    'success'
                );
            };
        </script>
    }
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/datatables/datatables.min.js"></script>
    <script src="~/assets/plugins/simple-calendar/jquery.simple-calendar.js"></script>
    <script src="~/assets/js/calander.js"></script>
    <script src="~/js/DropDown.js"></script>
    @*<script src="~/js/ChuyenTabDanhGia.js"></script>*@
    <script src="~/assets/js/circle-progress.min.js"></script>
    <script src="~/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/js/ValidateRequired.js"></script>
    @await Component.InvokeAsync("NToastNotify")
    @RenderSection("Scripts", false)
    @RenderSection("EditIntervention", false)
    <script type="text/javascript">

        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
        };

    </script>

    <script type="text/javascript">
        $(document).ready(function () {


            //$('.stMenu li').click(function (e) {
            //    $('.stMenu li').not(this).removeClass('active');
            //    $(this).addClass('active');
            //    e.preventDefault();
            //    //var a_href = $(this).find('a').attr('href');
            //    //console.log(a_href);
            //    //window.location.href = a_href ;
            //});
        });
                                        // Add active class to the current button (highlight it)

    </script>
</body>
<!-- Mirrored from preschool.dreamguystech.com/html-template/students.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:11:49 GMT -->
</html>