@model dynamic
@{
    ViewData["Title"] = "StudentDetail";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
@section styles {
<link href="~/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
}
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Student Details</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="students.html">Student</a></li>
                <li class="breadcrumb-item active">Student Details</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="about-info d-flex justify-content-center">
            <div class="media mt-3">
                <img style="border-radius: 25px" src="/images/@Model.Individual.AvtName" class="mr-3" alt="...">
                <div class="media-body">
                    <ul>
                        <li>
                            <span class="title-span">Họ và Tên : </span>
                            <span class="info-span">@(Model.Individual.FirstName + " "+ Model.Individual.LastName)</span>
                        </li>
                        <li>
                            <span class="title-span">Địa chỉ : </span>
                            <span class="info-span">@Model.Individual.Address</span>
                        </li>
                        <li>
                            <span class="title-span">Lớp : </span>
                            <span class="info-span">@Model.Individual.Classes</span>
                        </li>
                        <li>
                            <span class="title-span">Email : </span>
                            <span class="info-span">
                                @Model.Individual.Email
                            </span>
                        </li>
                        <li>
                            <span class="title-span">Giới tính : </span>
                            <span class="info-span">@Model.Individual.Gender</span>
                        </li>
                       
                            @{ 
                                DateTime d = Convert.ToDateTime(@Model.Individual.DOB);
        string s = d.ToString("dd/MM/yyyy");
    }
                       
                        <li>
                            <span class="title-span">Ngày sinh : </span>
                            <span class="info-span">@s</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="row mt-3">
                <div class="col-md-12">
                    <p>Hello I am Daisy Parks. Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry, simply dummy text of the printing and
                        typesetting industry.</p>
                </div>
            </div>
            <div class="row follow-sec">
                <div class="col-md-4 mb-3">
                    <div class="blue-box">
                        <h3>2850</h3>
                        <p>Followers</p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="blue-box">
                        <h3>2050</h3>
                        <p>Following</p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="blue-box">
                        <h3>2950</h3>
                        <p>Friends</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row mt-2">
                <div class="col-md-12">
                    <h5>Permanent Address</h5>
                    <p>480, Estern Avenue, Courtage area, New York</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <h5>Present Address</h5>
                    <p>480, Estern Avenue, Courtage area, New York</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
<hr style="height: 1px; border: none; color: #333; background-color: #b9b1b1; width: 70%; border-top: 1px dotted yellow;" />
<!-- Đánh giá Start -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-solid d-flex justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#solid-tab1"
                       data-toggle="tab">Danh Sách Đánh Giá Hành Vi</a>
                </li>
                @*<li class="nav-item">
                <a class="nav-link" href="#solid-tab2"
                   data-toggle="tab">Can Thiệp</a>
            </li>*@
            </ul>
            
            <div class="tab-content">
                <div class="tab-pane show active" id="solid-tab1">
                    <a asp-action="Create" asp-controller="Assessment" asp-route-id="@Model.Individual.Ind_Id">
                        <button type="button" class="btn btn-info btn-danhgia">Thêm đánh giá</button>
                    </a>
                    <hr style="height: 1px; border: none; color: #333; background-color: #b9b1b1; width: 100%; border-top: 1px dotted yellow;" />

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-center mb-0 datatable">
                                            <thead>
                                                <tr class="text-center">
                                                    <th class="">Ngày</th>
                                                    <th class="">Thời Gian</th>
                                                    <th>Tường Trình</th>
                                                    <th>Phân Tích</th>
                                                    <th>Chi Tiết</th>
                                                    <th class="">Tóm Tắt</th>
                                                    <th class="text-center">Tùy Chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Assessment != null)
                                                {
                                                    @foreach (AssessmentRequest assessment in Model.Assessment)
                                                    {
                                                        <tr id="assess-@assessment.Id" class="text-center">
                                                            <td>@assessment.RecordDate?.ToShortDateString()</td>
                                                            <td>@assessment.RecordStart</td>
                                                            <td>
                                                                @{
                                                                    if (assessment.RecordIsCompeleted == true)
                                                                    {
                                                                        <span class="badge badge-success">Hoàn Thành</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-danger">Chưa Hoàn Thành</span>
                                                                    }
                                                                }

                                                            </td>
                                                            <td>
                                                                @{
                                                                    if (assessment.AnalyzeIsCompeleted == true)
                                                                    {
                                                                        <span class="badge badge-success">Hoàn Thành</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-danger">Chưa Hoàn Thành</span>
                                                                    }
                                                                }
                                                            </td>
                                                            <td>
                                                                @{
                                                                    if (assessment.FunctionIsCompeleted == true)
                                                                    {
                                                                        <span class="badge badge-success">Hoàn Thành</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-danger">Chưa Hoàn Thành</span>
                                                                    }
                                                                }
                                                            </td>
                                                            <td>Xin Chào</td>
                                                            <td class="text-right">
                                                                <div class="actions">
                                                                    <a href="/Assessment/Detail?assid=@assessment.Id" class="btn btn-sm bg-success-light mr-2">
                                                                        <i class="fas fa-eye"></i>
                                                                    </a>
                                                                    <a asp-action="Create" asp-controller="Intervention" asp-route-id="@assessment.Id" class="btn btn-sm bg-success-light mr-2">
                                                                        <i class="fas fa-plus-circle"></i>
                                                                    </a>
                                                                    <a asp-action="Edit" asp-controller="Assessment" asp-route-assid="@assessment.Id" class="btn btn-sm bg-success-light mr-2">
                                                                        <i class="fas fa-pen"></i>
                                                                    </a>
                                                                    <button onclick="deleteAssessment('@assessment.Id')" class="btn btn-sm bg-danger-light">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                @if (Model.Assessment == null)
                                                { }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="solid-tab2">
                    <a href="/Intervention">
                        <button type="button" class="btn btn-info btn-danhgia">Thêm Can Thiệp</button>
                    </a>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Đánh giá End -->


@section scripts {
<script src="~/plugins/sweet-alert2/sweetalert2.min.js"></script>
<script>
            //Warning Message
            function deleteAssessment(id) {
                swal({
                    title: 'Bạn đã chắc chắn?',
                    text: "Xóa hồ sơ đánh giá này này!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger m-l-10',
                    confirmButtonText: 'Yes!'
                }).then(function () {
                    $.ajax({
                        url: "/Assessment/Delete?AssessId="+id,
                        type: "POST",
                        success: function (result) {
                            if (result.success == true) {
                                swal(
                                    'Đã Xóa Thành Công!',
                                    '',
                                    'success'
                                ),
                                    $("#assess-" + id).remove();
                            }
                            else{
                                Swal.fire({
      icon: 'error',
      text: 'Xóa không thành công',
    })
                            }
                        }
                    })
                })
            }
</script>

}

