@model X.PagedList.IPagedList<BehaviourManagementSystem_ViewModels.Requests.IndAssessRequest>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Học sinh</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Danh sách học sinh</li>
            </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <a title="Thêm Học Sinh" href="/Student/StudentAdd" class="btn btn-primary"><i class="fas fa-plus"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                @if (Model != null)
                {
                    <div class="table-responsive">
                        <table id="example" class="table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Lớp</th>
                                    <th>Ngày sinh</th>
                                    <!-- <th>Parent Name</th>
                                    <th>Mobile Number</th> -->
                                    <th>Địa chỉ</th>
                                    <th class="text-right">Tùy chọn</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="Individual-@item.Ind_Id">
                                        <td>
                                            <h2 class="table-avatar">
                                                @*<a href="/Student/StudentDetail?id=@item.Ind_Id" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/images/99274b606d0b43fca6d4dec21388d186huynq6.png" alt="User Image"></a>*@
                                                @{
                                                    var fullName = item.FirstName + " " + item.LastName;
                                                    <a href="/Student/StudentDetail?id=@item.Ind_Id">@fullName</a>
                                                }
                                            </h2>
                                        </td>
                                        <td>@item.Classes</td>
                                        @{
                                            DateTime d = Convert.ToDateTime(item.DOB);
                                            string s = d.ToString("dd/MM/yyyy");
                                        }
                                        <td>@s</td>
                                        <td>@item.Address</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a title="Chỉnh Sửa" href="/Student/StudentEdit?id=@item.Ind_Id" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a title="Xóa" onclick=" deleteIndi('@item.Ind_Id', '@item.TeacherId')" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                        @if (Model != null)
                        {
                            <span class="show-page-text text-black">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            @Html.PagedListPager(Model,
                                    page => Url.Action("StudentList", new { page }),
                                    new PagedListRenderOptions
                                {
                                    DisplayLinkToIndividualPages = true,
                                    DisplayPageCountAndCurrentLocation = false,
                                    MaximumPageNumbersToDisplay = 3,
                                    LiElementClasses = new string[] { "page-item" },
                                        PageClasses = new string[] { "page-link" },
                                })
                        }
                    </div>

                }
                else
                {
                    <p class="text-center text-warning">Không có dữ liệu</p>
                }
            </div>
        </div>
    </div>
</div>

<script>
    //Warning Message
    function deleteIndi(idind, idteacher) {
        swal({
            title: 'Bạn đã chắc chắn xóa?',
            text: "",
            type: '',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger m-l-10',
            confirmButtonText: 'Có',
            cancelButtonText: "Không"

        }).then(function () {
            $.ajax({
                url: "/Student/Delete",
                data: { "idIndi": idind, "idTeacher": idteacher },
                type: "DELETE",
                success: function (result) {
                    if (result.status == true) {

                        $("#Individual-" + idind).remove();
                    }
                }
            })
        })
    }
</script>
@section scripts {
    @*<script>
        $(document).ready(function () {
            $('#example').DataTable({
                order: [[0, 'asc']],
                "info": false,
                callback = JS("$('table.dataTable.no-footer').css('border-bottom', 'none');"),
                "lengthChange": false,
                "language": {
                    "search": "Tìm Kiếm:"
                }
            });
        });
    </script>*@
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                order: [[0, 'asc']],
                "info": false,
                "lengthChange": false,
                "language": {
                    "search": "Tìm Kiếm:"
                }
            });
        });
    </script>
}