@using BehaviourManagementSystem_ViewModels.Requests
@model List<UserProfileRequest>
@{
    ViewData["Title"] = "Danh sách tài khoản";
}

@section styles {
<link href="~/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen">
<link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/lib/datatables.net-button/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/lib/datatables.net-reponsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class=" m-b-0">
                    <a type="button" href="/Admin/User/Create" class="btn btn-primary waves-effect waves-light">
                        Thêm tài khoản
                    </a>
                </div>
            </div>
            <div class="card-body">
                @if (Model != null)
                {
                    <div class="table-rep-plugin">
                        <div class="table-responsive mb-0">
                            <table id="datatable-buttons" class="table table-striped" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Số Thứ Tự</th>
                                        <th>Họ và tên</th>
                                        <th>Email</th>
                                        <th>Vai trò</th>
                                        <th>Số điện thoại</th>
                                        <th>Tùy Chọn</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <th>@(i + 1)</th>
                                            <td>@(@Model[i].FirstName + " " + @Model[i].LastName)</td>
                                            <td>@Model[i].Email</td>
                                            <td><span style="font-size:14px; text-align:center;" class="badge @(Model[i].RoleName=="TEACHER"? "badge-success":"badge-info")">@Model[i].RoleName</span></td>
                                            <td>
                                                @Model[i].PhoneNumber
                                            </td>
                                            <td>
                                                <div class="button-items">
                                                    <a href=@((Model[i].RoleName=="TEACHER"?"/admin/User/Detail/":"/admin/Student/Details/")+Model[i].Id) type="button" class="btn btn-info waves-effect waves-light">Xem thông tin</a>

                                                </div>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                @if (Model == null)
                {
                    <p class="text-center">Không có dữ liệu</p>
                }

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
@section scripts {
    @*<script src="~/plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js"></script>*@
<script src="~/lib/datables.net/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/sweet-alert2/sweetalert2.min.js"></script>
<script src="~/lib/datatables.net-reponsive-bs4/js/responsive.bootstrap4.min.js"></script>

    @*<script src="~/lib/datatables.net-button/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-button/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-button/js/dataTables.buttons.min.js"></script>*@
<script>
    $(document).ready(function(){$("#datatable").DataTable(),$("#datatable-buttons").DataTable({lengthChange:!1,buttons:["colvis"]}).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)")});
</script>
}


