@using BehaviourManagementSystem_ViewModels.Requests
@model List<UserProfileRequest>
@{
    ViewData["Title"] = "Danh sách tài khoản";
}

@section styles {
    <link href="~/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen">
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                @if (Model != null)
                {
                    <div class="table-rep-plugin">
                        <div class="table-responsive b-0" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table  table-striped">
                                <thead>
                                    <tr>
                                        <th width="2%">Số Thứ Tự</th>
                                        <th data-priority="1">Họ và tên</th>
                                        <th data-priority="3">Email</th>
                                        <th data-priority="1">Vai trò</th>
                                        <th data-priority="3">Số điện thoại</th>
                                        <th data-priority="6" width="2%">Tùy Chọn</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <th>@(i + 1)</th>
                                            <td>@(@Model[i].FirstName + " " + @Model[i].LastName)</td>
                                            <td>@Model[i].Email</td>
                                            <td><span style="font-size:14px; text-align:center;" class="badge badge-info">Admin</span></td>
                                            <td>
                                                @Model[i].PhoneNumber
                                            </td>
                                            <td>
                                                <div class="button-items">
                                                    <a href="/admin/User/Edit/@Model[i].Id" type="button" class="btn btn-info waves-effect waves-light">Xem thông tin</a>
                                                    <a href="/admin/User/Detail/" type="button" class="btn btn-danger waves-effect waves-light">Xóa tài khoản</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>

                    </div>
                }
                @if (Model == null)
                {
                    <p class="text-center">Không có dữ liệu</p>
                }

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->


@section scripts {
    <script src="~/plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js"></script>
}


