@model BehaviourManagementSystem_ViewModels.Requests.UserProfileRequest
@{
    ViewData["Title"] = "Thông tin tài khoản";
    var img = Model.AvtName;
    Uri uriResult;
    bool result = Uri.TryCreate(Model.AvtName, UriKind.Absolute, out uriResult)
     && (uriResult.Scheme == Uri.UriSchemeHttp || uriResult.Scheme == Uri.UriSchemeHttps);
    if (result != true)
    {
        img = "/images/" + img;
    }
}
<style>
    .form-check {
        position: relative;
        text-align: left;
    }

    .form-check-input[type=radio] {
        border-radius: 50%;
    }

    .form-check .form-check-input {
        float: left;
        margin-left: -1.5em;
    }

    .form-check, .form-check-input, .form-check-label {
        cursor: pointer;
        margin-bottom: 0;
    }

    .form-check {
        display: block;
        min-height: 1.21875rem;
        padding-left: 1.5em;
        margin-bottom: 0;
    }

    .form-check-input:checked {
        background-color: #7a6fbe;
        border-color: #7a6fbe;
    }

    .form-check-input[type=radio] {
        border-radius: 50%;
    }

    .form-check-input:checked[type=radio] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }

    .form-check-input {
        width: 1em;
        height: 1em;
        margin-top: 0.25em;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid #adb5bd;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        -webkit-transition: background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }
</style>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<div class="card m-b-20">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="media m-b-30">
                    <img class="rounded img-fluid img-thumbnail" src="@img" alt="Generic placeholder image">

                </div>
                <h4 class="font-18">@(Model.FirstName+" "+Model.LastName)</h4>
                <p class="text-muted">@Model.Email</p>
            </div>
            <div class="col-sm-9">
                <h4 class="mt-0 header-title">Thông tin</h4>
                <hr />
                    <div class="row">
                        <label class="col-sm-3 mt-2">Tên đăng nhập</label>
                        <div class="col-sm-6 mt-2">
                           <span>
                                @Model.UserName
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 mt-2">Ngày sinh</label>
                        <div class="col-sm-6 mt-2">
                           <span>
                                @(Model.DOB?.ToShortDateString())
                            </span>
                        </div>
                    </div>
                    <div class=" row">
                        <label class="col-sm-3 mt-2">Số điện thoại</label>
                        <div class="col-sm-6 mt-2">
                            <span>
                                @Model.PhoneNumber
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 mt-2">Vai trò</label>
                        <div class="col-sm-6 mt-2">
                            <span>
                                @Model.RoleName
                            </span>
                        </div>

                    </div>
                    <div class="row">
                        <label class="col-sm-3 mt-2">Địa chỉ</label>
                        <div class="col-sm-6 mt-2">
                           <span>@Model.Address</span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 mt-2">Giới tính</label>
                        <div class="col-sm-6 mt-2">
                           <span>@Model.Gender</span>
                        </div>
                    </div>
            </div>
        </div>


    </div>
</div>
@section scripts{
<script src="~/plugins/parsleyjs/parsley.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('form').parsley();
    });
</script>
}


