<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Trang quản trị Admin</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    @*<link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">*@
    <link rel="stylesheet" href="~/assets/plugins/simple-calendar/simple-calendar.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/icons.css" />
    @*<link rel="stylesheet" href="~/css/metismenu.min.css" />*@ 
    <link rel="stylesheet" href="~/css/app.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    @RenderSection("styles", required: false)
</head>
<body data-sidebar="dark">
    <div id="layout-wrapper">
        <partial name="_Header" />
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @if (TempData["MessageCreate"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal(
                    '@TempData["MessageCreate"]',
                     '',
                    'success'
                );
            };
        </script>
    }
    @if (TempData["MessageEdit"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal(
                    '@TempData["MessageEdit"]',
                     '',
                    'success'
                );
            };
        </script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/waves.min.js"></script>
    <script src="~/js/app.js"></script>
    
    @RenderSection("Scripts", false)
</body>
</html>
