@model ResetPasswordRequest
@{
    ViewData["Title"] = "TeacherProfile";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    var userProfileRequest = ViewBag.userProfileRequest;
}
@{
    ViewData["Title"] = "Thông tin người dùng";
    var img = userProfileRequest.AvtName;
    Uri uriResult;
    bool result = Uri.TryCreate(userProfileRequest.AvtName, UriKind.Absolute, out uriResult)
     && (uriResult.Scheme == Uri.UriSchemeHttp || uriResult.Scheme == Uri.UriSchemeHttps);
    if (result != true)
    {
        img = "/images/" + img;
    }

}
@section Styles{
    <link rel="stylesheet" href="~/lib/jquery-password/css/jquery.passwordRequirements.css" />
    <style>
        .parsley-error {
            border-color: #ec536c
        }

        .parsley-errors-list {
            display: none;
            margin: 0;
            padding: 0
        }

            .parsley-errors-list.filled {
                display: block
            }

            .parsley-errors-list > li {
                font-size: 12px;
                list-style: none;
                color: #ec536c;
                margin-top: 5px
            }
    </style>

}
<div class="page-header">
    <div class="row">
        <div class="col">
            <h3 class="page-title">Đổi mật khẩu</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Đổi mật khẩu</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="profile-header">
            <div class="row align-items-center">
                <div class="col-auto profile-image">
                    <img style="object-fit: cover; border-radius: 50%; height: 100px; width: 100px; " alt="User Image" src="@img">
                </div>
                <div class="col ml-md-n2 profile-user-info">
                    <h4 class="user-name mb-0">@(userProfileRequest.FirstName+" "+ userProfileRequest.LastName)</h4>
                    <h6 class="text-muted">Giáo Viên</h6>
                    <div class="user-Location"><i class="fas fa-map-marker-alt"></i> Địa Chỉ</div>
                    <div class="user-Location">@userProfileRequest.Address</div>
                </div>
            </div>
        </div>
        <div class="profile-menu">
            <ul class="nav nav-tabs nav-tabs-solid">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#password_tab">Mật Khẩu</a>
                </li>
            </ul>
        </div>
        <div class="tab-content profile-tab-cont">
            <div id="password_tab" class="tab-pane fade show active">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Đổi mật khẩu</h5>
                        <div class="row">
                            <div class="col-md-10 col-lg-6 mx-auto">
                                <form asp-area="" asp-controller="Teacher" asp-action="ChangePassword" method="post">
                                    @*@if (!ViewData.ModelState.IsValid)
                                        {
                                            <div id="ErrorLogin" class="alert alert-danger" role="alert">
                                                <strong>@ViewData.ModelState[String.Empty].Errors[0].ErrorMessage</strong>
                                            </div>
                                        }*@
                                    <input hidden asp-for="Id" type="text" value="@userProfileRequest.Id" class="form-control">
                                    <div class="form-group">
                                        <label>Mật khẩu cũ<span style="color: red;">*</span></label>
                                        <input required asp-for="PasswordOld" type="password" class="form-control" data-parsley-required-message="Trường này là bắt buộc">
                                    </div>
                                    <div class="form-group">
                                        <label>Mật khẩu Mới<span style="color: red;">*</span></label>
                                        <input required asp-for="PasswordNew" type="password" class="form-control" data-parsley-required-message="Trường này là bắt buộc">
                                    </div>
                                    <div class="form-group">
                                        <label>Xác nhận mật khẩu<span style="color: red;">*</span></label>
                                        <input required asp-for="PasswordConfirm" type="password" class="form-control" data-parsley-required-message="Trường này là bắt buộc">
                                    </div>
                                    <button class="btn btn-primary" type="submit">Lưu thay đổi</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/plugins/parsleyjs/parsley.min.js"></script>
    <script src="/lib/jquery-password/js/jquery.passwordRequirements.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
            $(".pr-password").passwordRequirements({
                numCharacters: 6,
                useLowercase: true,
                useUppercase: true,
                useNumbers: true,
                useSpecial: true,
                infoMessage: 'Mật khẩu chứa ít nhất 6 kí tự, có chứa số ,có chứa kí tự đặt biệt.'
            });
        });

    </script>
}
