@model AssessmentRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Students</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Học Sinh</li>
                <li class="breadcrumb-item active">Đánh Giá</li>
            </ul>
        </div>
    </div>
</div>
<!-- Đánh giá Start -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center text-info text-uppercase">Đánh Giá Hành Vi</h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
                    <li class="nav-item">
                        <a id="tuongtrinhlink" class="nav-link active"
                           href="#tuongtrinh" data-toggle="tab">Tường trình</a>
                    </li>
                    <li class="nav-item">
                        <a id="phantichlink" class="nav-link disabled"
                           href="#phantich" data-toggle="tab">Phân tích</a>
                    </li>
                    <li class="nav-item">
                        <a id="chitietlink" class="nav-link disabled"
                           href="#chitiet" data-toggle="tab">Chi Tiết</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- Tab Tường Trình Start -->
                    <div class="tab-pane show active" id="tuongtrinh">
                        <form class="needs-validation" id="assessform" asp-action="Create" asp-controller="Assessment" method="post" novalidate>
                            <input hidden asp-for="IndividualId" type="text" class="form-control" />
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Ngày<span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input id="RecordDate" required asp-for="RecordDate" type="date" class="form-control" />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Giờ Bắt Đầu<span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input required asp-for="RecordStart" type="text" class="timepicker form-control" placeholder="Nhập giờ..." data-parsley-required-message="Trường này là bắt buộc">
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Giờ Kết Thúc<span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input required asp-for="RecordEnd" type="text" class="timepicker form-control" placeholder="Nhập giờ..." data-parsley-required-message="Trường này là bắt buộc">
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Ở Đâu</label>
                                <div class="col-md-10">
                                    <input asp-for="RecordWhere" type="text"
                                           class="form-control"
                                           placeholder="Nhập địa điểm..." data-parsley-required-message="Trường này là bắt buộc" />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Học sinh cùng vi phạm</label>
                                <div class="col-md-10">
                                    <input asp-for="RecordWho" type="text" class="form-control" placeholder="Nhập tên học sinh..." data-parsley-required-message="Trường này là bắt buộc" />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-sm-3 mx-auto text-center">
                                    <button type="submit" id="button-TuongTrinh" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Tab Tường Trình End -->
                    <!-- Tab phân tích Start-->
                    <div class="tab-pane" id="phantich">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                <li class="nav-item">
                                    <a id="phantich-hanhvi-link" class="nav-link"
                                       href="#pt-hanhvi" data-toggle="tab">Hành Vi</a>
                                </li>
                                <li class="nav-item">
                                    <a id="phantich-tiende-link" class="nav-link" href="#pt-tiende"
                                       data-toggle="tab">Tiền Đề</a>
                                </li>
                                <li class="nav-item">
                                    <a id="phantich-hauqua-link" class="nav-link" href="#pt-hauqua"
                                       data-toggle="tab">Hậu Quả</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- Tab Phân Tích - Hành Vi Start-->
                                <div class="tab-pane" id="pt-hanhvi">
                                    <form id="updateBehaviourForm" asp-action="CreateRecordBehaviour" asp-controller="Assessment" method="post">
                                        <input hidden asp-for="Id" value="@TempData["IdAsssetment"]" type="text" class="form-control" />
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Hành vi</label>
                                            <div class="col-md-10">
                                                <input required asp-for="AnalyzeBehaviour" type="text" class="form-control" placeholder="Nhập hành vi..." />
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Phân Tích - Hành Vi End-->
                                <!-- Tab Phân Tích - Tiền Đề Start-->
                                <div class="tab-pane" id="pt-tiende">
                                    <form asp-action="CreateAnaEntecedent" asp-controller="Assessment" method="post">
                                        <input hidden asp-for="Id" type="text" class="form-control" />
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Cảm Xúc</label>
                                            <div class="col-md-10">
                                                <input required name="AnalyzeAntecedentPerceivedDescription" type="text" id="camxuc" value="@Model.AnalyzeAntecedentPerceivedDescription" class="form-control dropdown-toggle" data-toggle="dropdown" placeholder="Chọn hoặc viết vào đây..." />
                                                <ul class="dropdown-menu " id="multiselect-drop-camxuc">
                                                    @foreach (var item in ViewBag.AntecedentPerceived)
                                                    {
                                                        <li class="dropdown-item">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Môi Trường</label>
                                            <div class="col-md-10">
                                                <input required name="AnalyzeAntecedentEnvironmentalDescription" type="text" id="moitruong" value="@Model.AnalyzeAntecedentEnvironmentalDescription" class="form-control dropdown-toggle" data-toggle="dropdown" placeholder="Chọn hoặc viết vào đây..." />
                                                <ul class="dropdown-menu" id="multiselect-drop-moitruong">
                                                    @foreach (var item in ViewBag.AntecedentEnvironment)
                                                    {
                                                        <li class="dropdown-item">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Hành Động</label>
                                            <div class="col-md-10">
                                                <input required name="AnalyzeAntecedentActivityDescription" type="text" id="hanhdong" value="@Model.AnalyzeAntecedentActivityDescription" class="form-control dropdown-toggle" placeholder="Chọn hoặc viết vào đây..." />
                                                <ul class="dropdown-menu" id="multiselect-drop-hanhdong">
                                                    @foreach (var item in ViewBag.AntecedentActivity)
                                                    {
                                                        <li class="dropdown-item">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Phân Tích - Tiền Đề End-->
                                <!-- Tab Phân Tích - Hậu Quả Start-->
                                <div class="tab-pane" id="pt-hauqua">
                                    <form asp-action="CreateAnaConsequence" asp-controller="Assessment" method="post">
                                        <input hidden asp-for="Id" type="text" class="form-control" />
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Cảm xúc trước</label>
                                                    <input readonly="readonly" type="text" class="form-control" value="@Model.AnalyzeAntecedentPerceivedDescription">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Cảm xúc sau</label>
                                                    <input required asp-for="AnalyzeConsequencesPerceive" type="text" class="form-control" value="@Model.AnalyzeConsequencesPerceive">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Môi truòng trước</label>
                                                    <input readonly="readonly" type="text" class="form-control" value="@Model.AnalyzeAntecedentEnvironmentalDescription">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Môi trường sau</label>
                                                    <input required asp-for="AnalyzeConsequenceEnvironmental" type="text" class="form-control" value="@Model.AnalyzeConsequenceEnvironmental">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Hành vi trước</label>
                                                    <input readonly="readonly" type="text" class="form-control" value="@Model.AnalyzeAntecedentActivityDescription">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Hành vi sau</label>
                                                    <input required asp-for="AnalyzeConsequencesActivity" type="text" class="form-control" value="@Model.AnalyzeConsequencesActivity">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-success btn-sm btn-block">Lưu và về danh sách</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Phân Tích - Hậu Quả End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Đánh giá End -->
        </div>
    </div>
    <div style="padding: 0 25px; margin-top: -2.5rem;" class="col-sm-3 mx-auto text-center">
        <a href="/Student/StudentDetail?id=@Model.IndividualId">
            <button type="submit" class="btn btn-danger btn-sm btn-block">Thoát</button>
        </a>
    </div>
</div>
@section scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#RecordDate").attr("max", new Date().toISOString().split('T')[0]);
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        });
    </script>
    <script>

        $('.timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 30,
            minTime: '00:00',
            maxTime: '23:30',
            defaultTime: '07:00',
            startTime: '',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    </script>
    @if (TempData["MessageCreateAss"] != null)
    {
        <script type="text/javascript">

            $('.nav a[href="#phantich"]').tab('show');
            $('#chitietlink').addClass('disabled');
            $('#phantich-hanhvi-link').addClass('active');
            $('#pt-hanhvi').addClass('show');
            $('#pt-hanhvi').addClass('active');
            $('#phantich-tiende-link').addClass('disabled');
            $('#phantich-hauqua-link').addClass('disabled');


        </script>
    }
    @if (TempData["MessageEditBehavior"] != null)
    {
        <script type="text/javascript">

            $('.nav a[href="#phantich"]').tab('show');
            $('#chitietlink').addClass('disabled');
            $('#phantich-tiende-link').addClass('active');
            $('#pt-tiende').addClass('show');
            $('#pt-tiende').addClass('active');
            $('#phantich-hauqua-link').addClass('disabled');


        </script>
    }
}
