@model AssessmentRequest
@{
    ViewData["Title"] = "Thêm đánh giá";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Chỉnh Sửa Đánh Giá</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active"><a href="/Student/StudentDetail?id=@Model.IndividualId">Học Sinh</a></li>
                <li class="breadcrumb-item active">Đánh Giá</li>
            </ul>
        </div>
    </div>
</div>
<!-- Đánh giá Start -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center text-info text-uppercase">Chỉnh Sửa Đánh Giá Hành Vi</h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
                    <li class="nav-item">
                        <a id="tuongtrinhlink" class="nav-link active"
                           href="#tuongtrinh" data-toggle="tab">Tường trình</a>
                    </li>
                    <li class="nav-item">
                        <a id="phantichlink" class="nav-link"
                           href="#phantich" data-toggle="tab">Phân tích</a>
                    </li>
                    <li class="nav-item">
                        <a id="chitietlink" class="nav-link"
                           href="#chitiet" data-toggle="tab">Chi Tiết</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- Tab Tường Trình Start -->
                    <div class="tab-pane show active" id="tuongtrinh">
                        <form class="needs-validation" id="assessform" asp-action="EditRecord" asp-controller="Assessment" method="post" novalidate>
                            <input hidden asp-for="Id" type="text" class="form-control" />
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Ngày<span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    @{
                                        DateTime d = Convert.ToDateTime(Model.RecordDate);
                                        string date = d.ToString("yyyy-MM-dd");
                                    }
                                    <input required asp-for="RecordDate" type="date" value="@date" class="form-control" />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Giờ Bắt Đầu<span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input id="tp1" asp-for="RecordStart" asp type="text" value="@Model.RecordStart" class="timepicker form-control" placeholder="Nhập giờ...">
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Giờ Kết Thúc<span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input id="tp2" asp-for="RecordEnd" type="text" value="@Model.RecordEnd" class="timepicker form-control" placeholder="Nhập giờ...">
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Ở Đâu</label>
                                <div class="col-md-10">
                                    <input asp-for="RecordWhere" type="text" value="@Model.RecordWhere"
                                           class="form-control"
                                           placeholder="Nhập địa điểm..." />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Học sinh cùng vi phạm</label>
                                <div class="col-md-10">
                                    <input asp-for="RecordWho" type="text" value="@Model.RecordWho" class="form-control" placeholder="Nhập tên học sinh..." />
                                </div>
                            </div>
                                <div style="margin-bottom:1rem;" class="col-sm-3 mx-auto text-center">
                                    <button type="submit" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                </div>

                        </form>
                    </div>
                    <!-- Tab Tường Trình End -->
                    <!-- Tab phân tích Start-->
                    <div class="tab-pane" id="phantich">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                <li class="nav-item">
                                    <a id="phantich-hanhvi-link" class="nav-link active"
                                       href="#pt-hanhvi" data-toggle="tab">Hành Vi</a>
                                </li>
                                <li class="nav-item">
                                    <a id="phantich-tiende-link" class="nav-link" href="#pt-tiende"
                                       data-toggle="tab">Tiền Đề</a>
                                </li>
                                <li class="nav-item">
                                    <a id="phantich-hauqua-link" class="nav-link" href="#pt-hauqua"
                                       data-toggle="tab">Hậu Quả</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- Tab Phân Tích - Hành Vi Start-->
                                <div class="tab-pane show active" id="pt-hanhvi">
                                    <form class="needs-validation" id="updateBehaviourForm" asp-action="UpdateRecordBehaviour" asp-controller="Assessment" method="post" novalidate>
                                        <input hidden asp-for="Id" type="text" class="form-control" />
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Hành vi<span style="color: red;">*</span></label>
                                            <div class="col-md-10">
                                                <input required asp-for="AnalyzeBehaviour" type="text" class="form-control" placeholder="Nhập hành vi..." />
                                                <div class="invalid-feedback">
                                                    Trường này là bắt buộc
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Phân Tích - Hành Vi End-->
                                <!-- Tab Phân Tích - Tiền Đề Start-->
                                <div class="tab-pane" id="pt-tiende">
                                    <form class="needs-validation" asp-action="UpdateAnaEntecedent" asp-controller="Assessment" method="post" novalidate>
                                        <input hidden asp-for="Id" type="text" class="form-control" />
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Cảm Xúc<span style="color: red;">*</span></label>
                                            <div class="col-md-10">
                                                <input required name="AnalyzeAntecedentPerceivedDescription" type="text" id="camxuc" value="@Model.AnalyzeAntecedentPerceivedDescription" class="form-control dropdown-toggle" data-toggle="dropdown" placeholder="Chọn hoặc viết vào đây..." />
                                                <ul class="dropdown-menu " id="multiselect-drop-camxuc">
                                                    @foreach (var item in ViewBag.AntecedentPerceived)
                                                    {
                                                        <li class="dropdown-item">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                                <div class="invalid-feedback">
                                                    Trường này là bắt buộc
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Môi Trường<span style="color: red;">*</span></label>
                                            <div class="col-md-10">
                                                <input required name="AnalyzeAntecedentEnvironmentalDescription" type="text" id="moitruong" value="@Model.AnalyzeAntecedentEnvironmentalDescription" class="form-control dropdown-toggle" data-toggle="dropdown" placeholder="Chọn hoặc viết vào đây..." />
                                                <ul class="dropdown-menu" id="multiselect-drop-moitruong">
                                                    @foreach (var item in ViewBag.AntecedentEnvironment)
                                                    {
                                                        <li class="dropdown-item">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                                <div class="invalid-feedback">
                                                    Trường này là bắt buộc
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Hành Động<span style="color: red;">*</span></label>
                                            <div class="col-md-10">
                                                <input required name="AnalyzeAntecedentActivityDescription" type="text" id="hanhdong" value="@Model.AnalyzeAntecedentActivityDescription" class="form-control dropdown-toggle" placeholder="Chọn hoặc viết vào đây..." />
                                                <ul class="dropdown-menu" id="multiselect-drop-hanhdong">
                                                    @foreach (var item in ViewBag.AntecedentActivity)
                                                    {
                                                        <li class="dropdown-item">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                                <div class="invalid-feedback">
                                                    Trường này là bắt buộc
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Phân Tích - Tiền Đề End-->
                                <!-- Tab Phân Tích - Hậu Quả Start-->
                                <div class="tab-pane" id="pt-hauqua">
                                    <form class="needs-validation" asp-action="UpdateAnaConsequence" asp-controller="Assessment" method="post" novalidate>
                                        <input hidden asp-for="Id" type="text" class="form-control" />
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Cảm xúc trước</label>
                                                    <input readonly="readonly" type="text" class="form-control" value="@Model.AnalyzeAntecedentPerceivedDescription">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Cảm xúc sau<span style="color: red;">*</span></label>
                                                    <input required asp-for="AnalyzeConsequencesPerceive" type="text" class="form-control" value="@Model.AnalyzeConsequencesPerceive">
                                                    <div class="invalid-feedback">
                                                        Trường này là bắt buộc
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Môi trường trước</label>
                                                    <input readonly="readonly" type="text" class="form-control" value="@Model.AnalyzeAntecedentEnvironmentalDescription">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Môi trường sau<span style="color: red;">*</span></label>
                                                    <input required asp-for="AnalyzeConsequenceEnvironmental" type="text" class="form-control" value="@Model.AnalyzeConsequenceEnvironmental">
                                                    <div class="invalid-feedback">
                                                        Trường này là bắt buộc
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Hành vi trước</label>
                                                    <input readonly="readonly" type="text" class="form-control" value="@Model.AnalyzeAntecedentActivityDescription">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Hành vi sau <span style="color: red;">*</span></label>
                                                    <input required asp-for="AnalyzeConsequencesActivity" type="text" class="form-control" value="@Model.AnalyzeConsequencesActivity">
                                                    <div class="invalid-feedback">
                                                        Trường này là bắt buộc
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Phân Tích - Hậu Quả End-->
                            </div>
                        </div>
                    </div>
                    <!-- Tab phân tích End-->
                    <!-- Tab Chi Tiết Start -->
                    <div class="tab-pane" id="chitiet">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                <li class="nav-item">
                                    <a id="chitiet-tiende-link" class="nav-link active"
                                       href="#ct-tiende" data-toggle="tab">Tiền Đề</a>
                                </li>
                                <li class="nav-item">
                                    <a id="chitiet-hauqua-link" class="nav-link" href="#ct-hauqua"
                                       data-toggle="tab">Hậu Quả</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- Tab Chi Tiết - Tiền Đề Start -->
                                <div class="tab-pane show active" id="ct-tiende">
                                    <form class="needs-validation" asp-action="UpdateFuntionAntecedent" asp-controller="Assessment" method="post" novalidate>
                                        <input hidden asp-for="Id" type="text" class="form-control" />
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Cảm Xúc</label>
                                            <div class="col-md-9">
                                                <input readonly value="@Model.AnalyzeAntecedentPerceivedDescription" type="text" class="form-control" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Bối cảnh môi trường</label>
                                            <div class="col-md-9">
                                                <input readonly value="@Model.AnalyzeAntecedentEnvironmentalDescription" type="text" class="form-control" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Bối cảnh hành động</label>
                                            <div class="col-md-9">
                                                <input readonly value="@Model.AnalyzeAntecedentActivityDescription" type="text" class="form-control" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Chi tiết tiền đề<span style="color: red;">*</span></label>
                                            <div class="col-md-9">
                                                <input required type="text" asp-for="FunctionAntecedent" value="@Model.FunctionAntecedent" class="form-control" placeholder="Nhập chi tiết tiền đề..." />
                                                <div class="invalid-feedback">
                                                    Trường này là bắt buộc
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" id="button-ct1" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Chi Tiết - Tiền Đề End -->
                                <!-- Tab Chi Tiết - Hậu Quả Start -->
                                <div class="tab-pane" id="ct-hauqua">
                                    <form class="needs-validation" asp-action="UpdateFuntionConsequence" asp-controller="Assessment" method="post" novalidate>
                                        <input hidden asp-for="Id" type="text" class="form-control" />
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Cảm Xúc</label>
                                            <div class="col-md-9">
                                                <input readonly value="@Model.AnalyzeConsequencesPerceive" type="text" class="form-control" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Bối cảnh môi trường</label>
                                            <div class="col-md-9">
                                                <input readonly value="@Model.AnalyzeConsequenceEnvironmental" type="text" class="form-control" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Bối cảnh hành động</label>
                                            <div class="col-md-9">
                                                <input readonly value="@Model.AnalyzeConsequencesActivity" type="text" class="form-control" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Chi tiết hậu quả<span style="color: red;">*</span></label>
                                            <div class="col-md-9">
                                                <input required type="text" asp-for="FunctionConsequece" value="@Model.FunctionConsequece" class="form-control" placeholder="Nhập chi tiết hậu quả..." />
                                                <div class="invalid-feedback">
                                                    Trường này là bắt buộc
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mx-auto text-center">
                                            <button type="submit" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Tab Chi Tiết - Hậu Quả End -->
                            </div>
                        </div>
                    </div>
                    <!-- Tab Chi Tiết End -->
                </div>
            </div>
        </div>
    </div>
    
        <div style="padding: 0 22px; margin-top: -3.5rem;" class="col-sm-3 mx-auto text-center">
            <a href="/Student/StudentDetail?id=@Model.IndividualId">
                <button type="submit" class="btn btn-danger btn-sm btn-block">Thoát</button>
            </a>
        </div>
</div>
<!-- Đánh giá End -->

@section scripts {
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#RecordDate").attr("max", new Date().toISOString().split('T')[0]);
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        });
    </script>    
<script>
    $(document).ready(function () {
        $('.timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 30,
            minTime: '00:00',
            maxTime: '23:30',
            defaultTime: '',
            startTime: '',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
        $('#tp1')
            .timepicker('option', 'change', function (time) {
                // update startTime option in timepicker-2
                $('#tp2').timepicker('option', 'minTime', time);
            });
    });




        //function submitAssessment() {

        //    var form = $(this);
        //    var actionUrl = form.attr('action');
        //    var data = $("#assessform").serialize();
        //    $.ajax({
        //        type: "POST",
        //        url: actionUrl,
        //        data: data, // serializes the form's elements.
        //        success: function (result) {
        //            if (result.success == true) {
        //                $('.nav a[href="#phantich"]').tab('show');

        //                $('.nav a[href="#phantich"]').removeClass("disabled")
        //            }

        //        }
        //    });
        //}

    </script>

    @if (TempData["UpdateRecord"] != null)
    {
        <script type="text/javascript">

            $('.nav a[href="#phantich"]').tab('show');
            //$('#phantich-hanhvi-link').addClass('active');
            //$('#pt-hanhvi').addClass('show');
            //$('#pt-hanhvi').addClass('active');
            


        </script>
    }
    @if (TempData["MessageEditBehavior"] != null)
    {
        <script type="text/javascript">
            $('.nav a[href="#phantich"]').tab('show');
            $('#phantich-hanhvi-link').removeClass('active');
            $('#phantich-tiende-link').addClass('active');
            $('#pt-hanhvi').removeClass('show');
            $('#pt-hanhvi').removeClass('active');
            $('#pt-tiende').addClass('show');
            $('#pt-tiende').addClass('active');
            

        </script>
    }
    @if (TempData["UpdateAnalyzeAntecedent"] != null)
    {
        <script type="text/javascript">
            $('.nav a[href="#phantich"]').tab('show');
            $('#phantich-hanhvi-link').removeClass('active');
            $('#phantich-hauqua-link').addClass('active');
            $('#pt-hanhvi').removeClass('show');
            $('#pt-hanhvi').removeClass('active');
            $('#pt-hauqua').addClass('show');
            $('#pt-hauqua').addClass('active');
        </script>
    }

    @if (TempData["UpdateAnalyzeConsequence"] != null)
    {
        <script type="text/javascript">
            //$('#tuongtrinhlink').removeClass('active');
            //$('#tuongtrinh').removeClass('show');
            //$('#tuongtrinh').removeClass('active');
            $('.nav a[href="#chitiet"]').tab('show');
            //$('#chitiet').addClass('show');
            //$('#chitiet').addClass('active');
            //$('#chitiet-tiende-link').addClass('active');
            //$('#ct-tiende').addClass('show');
            //$('#ct-tiende').addClass('active');
        </script>
    }
    @if (TempData["UpdateFuntionAntecedent"] != null)
    {
        <script type="text/javascript">
            $('.nav a[href="#chitiet"]').tab('show');
            $('#chitiet-tiende-link').removeClass('active');
            $('#chitiet-hauqua-link').addClass('active');
            $('#ct-tiende').removeClass('show');
            $('#ct-tiende').removeClass('active');
            $('#ct-hauqua').addClass('show');
            $('#ct-hauqua').addClass('active');
        </script>
    }
}

