@model InterventionRequest
@{
    ViewData["Title"] = "CreateIntervention";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Học Sinh</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active"><a href="/Intervention/GetInterventionById?id=@Model.AssesetmentId">Danh Sách Can Thiệp</a></li>
                <li class="breadcrumb-item active">Thêm Can Thiệp</li>
            </ul>
        </div>

    </div>
</div>
<!-- Can Thiệp Start -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center text-info text-uppercase">Thêm Can Thiệp Hành Vi</h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#giaidoan" data-toggle="tab">Can Thiệp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#hoso" data-toggle="tab">Hồ Sơ Can Thiệp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#quanlycanthiep" data-toggle="tab">Chi Tiết Can Thiệp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#nganchantaipham" data-toggle="tab">Ngăn ngừa Tái Phạm</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- Tab Giai Đoạn Start -->
                    <div class="tab-pane show active" id="giaidoan">
                        <form id="form-check" asp-action="CheckBoxCreate" asp-controller="Intervention" method="post">
                            <div class="form-group row text-center">
                                <label class="col-form-label col-md-10">Chọn Giai Đoạn Can Thiệp: </label>
                                <div class="col-md-12 mx-auto">
                                    <div class="checkbox">
                                        @if (Model.ProfileMildDesciption == null && Model.ManageMild == null)
                                        {
                                            <label>
                                                <input type="checkbox" id="check-nhe-sua" name="checkboxnhe" value="Can Thiệp Nhẹ" /> Can Thiệp Nhẹ
                                            </label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input type="checkbox" checked id="check-nhe-sua" name="checkboxnhe" value="Can Thiệp Nhẹ" /> Can Thiệp Nhẹ
                                            </label>
                                        }
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @if (Model.ProfileModerateDesciption == null && Model.ManageModerate == null)
                                            {
                                                <input type="checkbox" id="check-vua-sua" name="checkboxvua" value="Can Thiệp Vừa" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" checked id="check-vua-sua" name="checkboxvua" value="Can Thiệp Vừa" />
                                            }
                                            Can Thiệp Vừa
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label style="margin-left: 5rem;">
                                            @if (Model.ProfileExtremeDesciption == null && Model.ManageExtreme == null)
                                            {
                                                <input type="checkbox" id="check-kn-sua" name="checkboxkn" value="Can Thiệp Nghiêm Trọng" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" checked id="check-kn-sua" name="checkboxkn" value="Can Thiệp Nghiêm Trọng" />
                                            }
                                            Can Thiệp Nghiêm Trọng
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-sm-3 mx-auto text-center">
                                    <button type="button" onclick="submitNextStep()" id="button-giaidoan" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Tab Giai Đoạn End -->
                    <!-- Tab Nâng Câp Hồ Sơ Start-->
                    <div class="tab-pane" id="hoso">
                        <!-- form nhẹ start -->
                        <form class="needs-validation" id="EditProfileForm" action="/Intervention/CreateProfileIntervention" method="post" novalidate>
                            <input hidden name="Id" value="@Model.Id">
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Ngày <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    @{
                                        DateTime d = Convert.ToDateTime(Model.ProfileDate);
                                        string s = d.ToString("yyyy-MM-dd");
                                    }
                                    <input required type="date" autocomplete="off" value="@s" name="ProfileDate" class="form-control" />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div id="input-nhe-sua" class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Nhẹ <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" autocomplete="off" placeholder="--Chọn Hoặc Nhập--" id="nhe-sua" name="ProfileMildDesciption" value="@Model.ProfileMildDesciption" class="form-control dropdown-toggle" data-toggle="dropdown" />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                    <ul class="dropdown-menu" id="multiselect-drop">
                                        @if (ViewBag.Mild != null)
                                        {
                                            @foreach (var item in ViewBag.Mild)
                                            {
                                                <li class="dropdown-item">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input class="checkbox-nhe" value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                                                        </label>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div id="input-vua-sua" class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Vừa <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="--Chọn Hoặc Nhập--" autocomplete="off" id="trungbinh-sua" name="ProfileModerateDesciption" value="@Model.ProfileModerateDesciption" class="form-control dropdown-toggle" data-toggle="dropdown" />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                    <ul class="dropdown-menu" id="multiselect-drop-tb">
                                        @if (ViewBag.Moderate != null)
                                        {
                                            @foreach (var item in ViewBag.Moderate)
                                            {
                                                <li class="dropdown-item">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input class="checkbox-vua" value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                                                        </label>
                                                    </div>
                                                </li>

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>


                            <div id="input-kn-sua" class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Nghiêm Trọng <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="--Chọn Hoặc Nhập--" autocomplete="off" id="khacnghiet-sua" name="ProfileExtremeDesciption" value="@Model.ProfileExtremeDesciption" class="form-control dropdown-toggle" data-toggle="dropdown" />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                    <ul class="dropdown-menu" id="multiselect-drop-kn">
                                        @if (ViewBag.Extreme != null)
                                        {
                                            @foreach (var item in ViewBag.Extreme)
                                            {
                                                <li class="dropdown-item">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input class="checkbox-khac-nghiet" value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                                                        </label>
                                                    </div>
                                                </li>

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Phục Hồi <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="--Chọn Hoặc Nhập--" required id="tbphuchoi" name="ProfileRecoveryDesciption" value="@Model.ProfileRecoveryDesciption" class="form-control dropdown-toggle" data-toggle="dropdown" />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                    <ul class="dropdown-menu" id="multiselect-drop-tbphuchoi">
                                        @if (ViewBag.Recovery != null)
                                        {
                                            @foreach (var item in ViewBag.Recovery)
                                            {
                                                <li class="dropdown-item">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                                                        </label>
                                                    </div>
                                                </li>

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-sm-3 mx-auto text-center">
                                    <button type="submit" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                </div>
                            </div>
                        </form>
                        <!-- form khác end -->
                    </div>
                    <!-- Tab Nâng Câp Hồ Sơ End-->
                    <!-- Tab Quản Lí Can Thiệp Start -->
                    <div class="tab-pane" id="quanlycanthiep">
                        <form class="needs-validation" action="/Intervention/CreateManage" method="post" novalidate>
                            <input hidden name="Id" value="@Model.Id">
                            <div id="input-ql-nhe-sua" class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Can Thiệp Nhẹ <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" autocomplete="off" id="ql-nhe-sua" name="ManageMild" value="@Model.ManageMild" class="form-control" placeholder="Nhập ..." />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div id="input-ql-vua-sua" class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Vừa <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" autocomplete="off" id="ql-vua-sua" name="ManageModerate" value="@Model.ManageModerate" class="form-control" placeholder="Nhập ..." />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div id="input-ql-kn-sua" class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Nghiêm Trọng <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" autocomplete="off" id="ql-khacnghiet-sua" name="ManageExtreme" value="@Model.ManageExtreme" class="form-control" placeholder="Nhập ..." />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Phục hồi <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" required autocomplete="off" name="ManageRecovery" value="@Model.ManageRecovery" class="form-control" placeholder="Nhập ..." />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-sm-3 mx-auto text-center">
                                    <button type="submit" id="" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Tab Quản Lí Can Thiệp End -->
                    <!-- Tab ngăn chặn tái phạm Start -->
                    <div class="tab-pane" id="nganchantaipham">
                        <form action="/Intervention/CreatePrevent" method="post" class="needs-validation" novalidate>
                            <input hidden name="Id" value="@Model.Id">
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Thái Độ <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" required autocomplete="off" name="PreventStatus" value="@Model.PreventStatus" id="text-key" class="form-control text-key" placeholder="Nhập..." />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Kế Hoạch Hoạt Động <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" required autocomplete="off" name="PreventActivity" value="@Model.PreventActivity" id="text-key" class="form-control text-key" placeholder="Nhập..." />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Kế Hoạch Tương Tác <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" required autocomplete="off" name="PreventInteraction" value="@Model.PreventInteraction" class="form-control text-key" placeholder="Nhập..." />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Địa Điểm Tương Tác <span style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" required autocomplete="off" name="PreventInvironmental" value="@Model.PreventInvironmental" class="form-control text-key" placeholder="Nhập..." />
                                    <div class="invalid-feedback">
                                        Trường này là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-sm-3 mx-auto text-center">
                                    <button type="submit" autocomplete="off" class="btn btn-success btn-sm btn-block">Lưu và Thoát</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Tab ngăn chặn tái phạm End -->
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 0 27px; margin-top: -2.5rem;" class="col-sm-3 mx-auto text-center">
        <a href="/Intervention/GetInterventionById?id=@Model.AssesetmentId">
            <button type="submit" class="btn btn-danger btn-sm btn-block">Thoát</button>
        </a>
    </div>
</div>



<!-- Can Thiệp End -->
@section scripts {
    <script src="~/js/CheckBoxMoInput.js"></script>
    <script>
        function submitNextStep() {
            var valdata = $("#form-check").serialize();
            $.ajax({
                url: "/intervention/checkboxcreate",
                data: valdata,
                type: "post",
                success: function (result) {
                    if (result.success == true) {
                        $('.nav a[href="#hoso"]').tab('show');
                    }
                }
            })
        }
    </script>

}

@section EditIntervention {
    @if (TempData["CreateProfile"] != null)
    {
        <script type="text/javascript">

            $('.nav a[href="#quanlycanthiep"]').tab('show');

        </script>
    }
    @if (TempData["MessageEdit"] != null)
    {
        <script type="text/javascript">

            $('.nav a[href="#quanlycanthiep"]').tab('show');

        </script>
    }
    @if (TempData["MessageEditManage"] != null)
    {
        <script type="text/javascript">

            $('.nav a[href="#nganchantaipham"]').tab('show');

        </script>
    }

}

