@model InterventionRequest

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Hồ sơ học sinh</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Học Sinh</li>
                <li class="breadcrumb-item active">Can Thiệp</li>
            </ul>
        </div>

    </div>
</div>
<!-- Can Thiệp Start -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center text-info text-uppercase">Can Thiệp Hành Vi</h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active"
                           href="#giaidoan" data-toggle="tab">Can Thiệp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#hoso" data-toggle="tab">Hồ Sơ Can Thiệp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#quanlycanthiep" data-toggle="tab">Quản Lý Can Thiệp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#nganchantaipham" data-toggle="tab">Ngăn ngừa Tái Phạm</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- Tab Giai Đoạn Start -->
                    <div class="tab-pane show active" id="giaidoan">
                        <form action="#">
                            <div class="form-group row text-center">
                                <label class="col-form-label col-md-10">Giai Đoạn Can Thiệp: </label>
                                <div class="col-md-12 mx-auto">
                                    <div class="checkbox">
                                        <label>
                                            <input readonly disabled type="checkbox" id="check-nhe" name="checkbox" @((Model.ProfileMildDesciption != null) ? "checked" : "") /> Can Thiệp Nhẹ
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input readonly disabled type="checkbox" id="check-vua" name="checkbox" @((Model.ProfileModerateDesciption != null) ? "checked" : "") /> Can Thiệp Vừa
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label style="margin-left: 62px;">
                                            <input readonly disabled type="checkbox" id="check-kn" name="checkbox" @((Model.ProfileExtremeDesciption != null) ? "checked" : "") /> Can Thiệp Khắc Nghiệt
                                        </label>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                    <!-- Tab Giai Đoạn End -->
                    <!-- Tab Nâng Câp Hồ Sơ Start-->
                    <div class="tab-pane" id="hoso">
                        <!-- form nhẹ start -->

                        <form>
                            @*<input hidden name="AssesetmentId" value="190a0735-a5df-41b5-bdc1-694f158d2322">*@
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Ngày</label>
                                @{
                                    DateTime d = Convert.ToDateTime(Model.ProfileDate);
                                    string date = d.ToString("dd-MM-yyyy");
                                }
                                <div class="col-md-10">
                                    <input readonly type="text" value="@date" name="ProfileDate" class="form-control" />
                                </div>
                            </div>
                            @if (Model.ProfileMildDesciption != null)
                            {
                                <div id="input-nhe" class="form-group row">
                                    <label class="col-form-label col-md-2">Giai Đoạn Nhẹ</label>
                                    <div class="col-md-10">
                                        <input readonly type="text" autocomplete="off" id="nhe" name="ProfileMildDesciption" value="@Model.ProfileMildDesciption" class="form-control" />
                                    </div>
                                </div>
                            }
                            @if (Model.ProfileModerateDesciption != null)
                            {
                                <div id="input-vua" class="form-group row">
                                    <label class="col-form-label col-md-2">Giai Đoạn Vừa</label>
                                    <div class="col-md-10">
                                        <input type="text" autocomplete="off" id="trungbinh" name="ProfileModerateDesciption" value="@Model.ProfileModerateDesciption" class="form-control" />
                                    </div>
                                </div>
                            }
                            @if (Model.ProfileExtremeDesciption != null)
                            {
                                <div id="input-kn" class="form-group row">
                                    <label class="col-form-label col-md-2">Giai Đoạn Khắc Nghiệt</label>
                                    <div class="col-md-10">
                                        <input type="text" autocomplete="off" id="khacnghiet" name="ProfileExtremeDesciption" value="@Model.ProfileExtremeDesciption" class="form-control" />
                                    </div>
                                </div>
                            }
                            @if (Model.ProfileRecoveryDesciption != null)
                            {
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">Giai Đoạn Phục Hồi</label>
                                    <div class="col-md-10">
                                        <input type="text" readonly autocomplete="off" required id="tbphuchoi" name="ProfileRecoveryDesciption" value="@Model.ProfileRecoveryDesciption" class="form-control" />
                                    </div>
                                </div>
                            }
                            
                        </form>
                        <!-- form khác end -->
                    </div>
                    <!-- Tab Nâng Câp Hồ Sơ End-->
                    <!-- Tab Quản Lí Can Thiệp Start -->
                    <div class="tab-pane" id="quanlycanthiep">
                        <form action="#">
                            <div id="input-quanly-nhe" class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Nhẹ</label>
                                <div class="col-md-10">
                                    <input readonly type="text" value="@Model.ManageMild" class="form-control" />
                                </div>
                            </div>
                            <div id="input-quanly-vua" class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Vừa</label>
                                <div class="col-md-10">
                                    <input readonly type="text" value="@Model.ManageModerate" class="form-control" />
                                </div>
                            </div>
                            <div id="input-quanly-kn" class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Khắc Nghiệt</label>
                                <div class="col-md-10">
                                    <input readonly type="text" value="@Model.ManageExtreme" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Giai Đoạn Phục hồi</label>
                                <div class="col-md-10">
                                    <input readonly type="text" value="@Model.ManageRecovery" class="form-control" />
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    <!-- Tab Quản Lí Can Thiệp End -->
                    <!-- Tab ngăn chặn tái phạm Start -->
                    <div class="tab-pane" id="nganchantaipham">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Tính Cách</label>
                            <div class="col-md-10">
                                <input readonly type="text" value="@Model.PreventStatus" id="text-key" class="form-control text-key" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Chiến Lược Hoạt Động</label>
                            <div class="col-md-10">
                                <input readonly type="text" value="@Model.PreventActivity" id="text-key" class="form-control text-key" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Chiến Lược Tiếp Cận</label>
                            <div class="col-md-10">
                                <input readonly type="text" value="@Model.PreventInteraction" class="form-control text-key" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Chiến Lược Môi Trường</label>
                            <div class="col-md-10">
                                <input readonly type="text" value="@Model.PreventInvironmental" class="form-control text-key" />
                            </div>
                        </div>
                    </div>
                    <!-- Tab ngăn chặn tái phạm End -->
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div style="margin-top: -3.5rem;" class="col-sm-3 mx-auto text-center">
            <a href="/Intervention/GetInterventionById?id=@Model.AssesetmentId">
                <button type="submit" class="btn btn-danger btn-sm btn-block">Thoát</button>
            </a>
        </div>
    </div>
</div>
<!-- Can Thiệp End -->
