@model X.PagedList.IPagedList<BehaviourManagementSystem_ViewModels.Requests.InterventionRequest>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "GetInterventionByIdAsync";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Danh Sách Can Thiệp</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/Student/StudentDetail?id=@ViewBag.IdIndividual">Danh Sách Hành Vi</a></li>
                <li class="breadcrumb-item active">Can Thiệp hành Vi</li>
            </ul>
        </div>

    </div>
</div>
<!-- Đánh giá Start -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-solid d-flex justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#solid-tab2"
                       data-toggle="tab">Can Thiệp Hành Vi</a>
                </li>
            </ul>
            <hr style="height: 1px; border: none; color: #333; background-color: #b9b1b1; width: 70%; border-top: 1px dotted yellow;" />

            <div class="tab-content">
                <div class="tab-pane active" id="solid-tab2">
                    <a asp-action="Create" asp-controller="Intervention" asp-route-id="@ViewBag.IdAssiment">
                        <button type="button" class="btn btn-success btn-danhgia">Thêm Can Thiệp</button>
                    </a>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div class="row" style="margin-bottom:2rem;">
                                            <div class="col-sm-4 col-md-4">
                                                <span>Từ Ngày:</span>
                                                <input readonly style="border-radius: 10px;" type="text" id="min" name="min">
                                            </div>
                                            <div class="col-sm-4 col-md-4">
                                                <span>Đến Ngày:</span>
                                                <input readonly style="border-radius: 10px;" type="text" id="max" name="max">
                                            </div>

                                        </div>
                                        <table id="example" class="table table-hover table-center mb-0">
                                            <thead>
                                                <tr class="text-center">
                                                    <th class="text-center">Ngày</th>
                                                    <th class="text-center">Hồ Sơ</th>
                                                    <th class="text-center">Chi Tiết</th>
                                                    <th class="text-center">Ngăn Ngừa</th>
                                                    <th class="text-center">Tùy Chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr id="inter-@item.Id" class="text-center">
                                                            @{
                                                                DateTime d = Convert.ToDateTime(item.ProfileDate);
                                                                string s = d.ToString("dd/MM/yyyy");
                                                            }
                                                            <td>@s</td>
                                                            @if (item.ProfileIsCompeleted == true)
                                                            {
                                                                <td>
                                                                    <span class="badge badge-success">Hoàn Thành</span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <span class="badge badge-danger">Chưa Hoàn Thành</span>
                                                                </td>
                                                            }
                                                            @if (item.ManageIsCompleted == true)
                                                            {
                                                                <td>
                                                                    <span class="badge badge-success">Hoàn Thành</span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <span class="badge badge-danger">Chưa Hoàn Thành</span>
                                                                </td>
                                                            }
                                                            @if (item.PreventIsCompleted == true)
                                                            {
                                                                <td>
                                                                    <span class="badge badge-success">Hoàn Thành</span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <span class="badge badge-danger">Chưa Hoàn Thành</span>
                                                                </td>
                                                            }

                                                            <td class="text-center">
                                                                <div class="actions">
                                                                    <a asp-action="Detail" asp-controller="Intervention" asp-route-id="@item.Id" title="Chi Tiết Đánh Giá" class="btn btn-sm bg-detail mr-2">
                                                                        <i class="fas fa-eye"></i>
                                                                    </a>
                                                                    <a href="/Intervention/Edit?id=@item.Id"
                                                                       class="btn btn-sm bg-success-light mr-2">
                                                                        <i class="fas fa-pen"></i>
                                                                    </a>
                                                                    <a onclick=" deleteActivity('@item.Id')" class="btn btn-sm bg-danger-light">
                                                                        <i class="fas fa-trash"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    }

                                                }

                                            </tbody>
                                        </table>
                                        @if (Model != null)
                                        {
                                            <span class="show-page-text text-black">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                            @Html.PagedListPager(Model,
                                                    page => Url.Action("GetInterventionById", new { id = @ViewBag.IdAssiment, page }),
                                                    new PagedListRenderOptions
                                                {
                                                    DisplayLinkToIndividualPages = true,
                                                    DisplayPageCountAndCurrentLocation = false,
                                                    MaximumPageNumbersToDisplay = 3,
                                                    LiElementClasses = new string[] { "page-item" },
                                                        PageClasses = new string[] { "page-link" },
                                                })
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Đánh giá End -->
<script>
    //Warning Message
    function deleteActivity(id) {
        swal({
            title: 'Bạn đã chắc chắn xóa?',
            text: "",
            type: '',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger m-l-10',
            confirmButtonText: 'Có',
            cancelButtonText: "Không"
        }).then(function () {
            $.ajax({
                url: "/Intervention/Delete",
                data: { "id": id },
                type: "DELETE",
                success: function (result) {
                    if (result.status == true) {

                        $("#inter-" + id).remove();
                    }
                }
            })
        })
    }
</script>
@section scripts {

    <script src="~/js/Datable.js"></script>
}